*.o
*.d
*.axf
*.hex
*.bin
*.map
*.lst
*.dep
*.crf
*.lnp
*.htm
*.bak
*.iog
*.uvguix.*
*.uvoptx
JLinkLog.txt
JLinkSettings.ini
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/EventRecorderStub.scvd
RTE/
*.ioc.bak
Thumbs.db
.DS_Store
*.swp
*~
